.textCenter {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: tomato;
  width: 50%;
  margin: auto;
  padding: 70px 0;
  position: relative;
}
